blockquote.alert strong
{
	display      : inline-block;
	text-align   : center;
	float        : left;
	width        : 60px;
	margin-right : 10px
}

blockquote.alert
{
	border-radius     : 5px;
}

.alert-quote
{
	background-color : white;
}